.list {
    margin-left: 1rem;
    &__item {
        position: relative;
        margin-bottom: 3px;
        font-size: 1rem;

        &::before {
            content: "-";
            position: absolute;
            left: -10px;
            bottom: 0;
        }
    }
}
