$primary: #db6000;
$secondary: #76b72a;
$brown-dark: #66381b;
$light: #dfa958;
$white: #fff;
$brown-medium: #914c16;
$muted: #a2a2a2;

$t: 0.3s;

$breakpoints: (
    xs: 420px,
    sm: 650px,
    md: 790px,
    lg: 1000px
);
