<div class="row">
    <div class="contact-us {{spacing}}">
        <h2 class="contact-us__title mb-xxs">
            Kontaktujte nás&hellip;
        </h2>
        <div class="grid ">
            <div class="grid__col grid__col--50-sm mb-xl">
                <p class="">Telefonicky od 8:00 do 22:00</p>
                <a class="text--lg t-brown-medium t-bold contact-us__link" href="tel:+420721060530">+420 721 060 530</a>
            </div>
            <div class="grid__col grid__col--50-sm mb-xl">
                <p>Emailem kdykoliv</p>
                <a class="text--lg t-brown-medium t-bold contact-us__link" href="mailto:info@freshdock.cz">info@freshdock.cz</a>
            </div>
        </div>
    </div>
</div>
