<div class="bg--secondary t-white pt-4 {{spacing}}">
    <div class="row">
        <div class="grid">
            <div class="grid__col grid__col--50-md mb-xs">
                <h1 class="mt--1 t--600">Doporučujeme kvalitní a čerstvé potraviny s garancí puvodu</h1>
                <p>Kvalitní potraviny doručujeme po celém Česku</p>
            </div>
            <div class="grid__col grid__col--50-md mb-xs">
                <img alt="" class="img" src="./img/map.png" width="391" height="256">
            </div>
        </div>
    </div>
</div>
